commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/01_bootstraup.sh:
    content: |
      #!/usr/bin/env bash
      sudo yum install git cmake gcc-c++ numpy python-devel
      sudo pip install --upgrade pip
      sudo ln -rs /usr/local/bin/pip /usr/bin/
      wget https://pypi.python.org/packages/18/eb/707897ab7c8ad15d0f3c53e971ed8dfb64897ece8d19c64c388f44895572/numpy-1.11.1-cp27-cp27mu-manylinux1_x86_64.whl
      sudo pip install numpy-1.11.1-cp27-cp27mu-manylinux1_x86_64.whl
      wget https://s3-eu-west-1.amazonaws.com/elasticbeanstalk-eu-west-1-874357657566/opencv.zip
      unzip opencv.zip
      cd opencv/build
      sudo make install
    group: root
    mode: '000755'
    owner: root
