{% extends "base.html" %}
{% block title %}Foo{% endblock %}

{% block content %}
<style>
  input.number {
    max-width: 5em;
    padding: 2px;
  }
  .tab-pane {
    padding-top: 1em;
  }
</style>
<div class="container-fluid">
  <div id="main">
    <h3>Generate Maze Based on a Image</h3>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#settings">Maze Settings</a></li>
      <li><a data-toggle="tab" href="#uploadFile">Upload Base File</a></li>
    </ul>
    <div class="tab-content">
      <div id="settings" class="tab-pane fade in active">
        <form class="form-inline" v-on:submit.prevent>
          <div v-if="!usePicture" class="form-group">
            <label for="width">Width</label>
            <input type="number" class="form-control number" id="width" v-model="width" >
          </div>
          <div v-if="!usePicture" class="form-group">
            <label for="width">Height</label>
            <input type="number" class="form-control number" id="height" v-model="height" >
          </div>
          <div class="form-group">
            <label for="cell">Cell</label>
            <input type="number" class="form-control number" id="cell" v-model="cell" >
          </div>
          <div class="form-group">
            <label for="wall">Wall</label>
            <input type="number" class="form-control number" id="wall" v-model="wall" >
          </div>
          <input type="checkbox" id="usePictureCheckbox" v-model="usePicture">
          <label for="usePictureCheckbox">Use Picture</label>
          <div class="form-group">
            <button class="btn btn-default" @click="renderMaze">Regenerate</button>
          </div>
        </form>
      </div>
      <div id="uploadFile" class="tab-pane fade">
        <form class="form-inline" method="post" action="image"
              enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" class="form-control" name="image" id="image">
          </div>
          <div class="form-group">
            <button class="btn btn-default" >Upload</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" style="margin-top: 1em;">
        <button class="btn btn-default" @click="showRD = !showRD">Recursive Divider Toggle</button>
      </div>
      <div class="col-xs-6" style="margin-top: 1em;">
        <button class="btn btn-default" @clicl="showRB = !showRB">Recursive Back Tracker Toggle</button>
      </div>
    </div>
    <div class="row">
      <div  class="col-xs-6" style="margin-top: 1em;">
        <canvas v-if="showRD"  id="canvas"
                style="background-color: black;"
                width=""
                height=""></canvas>
      </div>
      <div  class="col-xs-6" style="margin-top: 1em;">
        <canvas v-if="showRB"  id="canvas2"
                style="background-color: black;"
                width=""
                height=""></canvas>
      </div>
    </div>
  </div>
  <script>
    var hmin = 768;
    var WeAreInHorizontalForm = true;
    function resizeNumbers() {
      if(window.innerWidth < hmin && WeAreInHorizontalForm) {
        $('.number').removeClass('number').addClass('iAmNotANumber');
        WeAreInHorizontalForm = false;
      }
      if(window.innerWidth > hmin && !WeAreInHorizontalForm) {
        $('.iAmNotANumber').removeClass('iAmNotANumber').addClass('number');
        WeAreInHorizontalForm = true;
      }
    }
    resizeNumbers();
    $(window).on('resize', function(e) {
      resizeNumbers();
    });

    new Vue({
      el: '#main',
      data: {
        usePicture: true,
        showRD: true,
        showRB: true,
        width : 400,
        height: 400,
        cell: 2,
        wall: 1,
        canvasId : 'canvas'
      },
      watch: {
        usePicture: function() {
          this.renderMaze()
        }
      },
      methods: {
        makeMazeRD : function(arr) {
          arr = arr || createArr(this.width, this.height);
          var MB = new MazeBuilder(arr);
          MB.RecDivision();
          return MB.getMaze();
        },
        makeMazeRB : function(arr) {
          arr = arr || createArr(this.width, this.height);
          var MB = new MazeBuilder(arr);
          if(this.usePicture) {
            MB.flipAll();
          }
          MB.RecBackTracker();
          return MB.getMaze();
        },
        renderMaze : function() {
          var base = this.usePicture ? getBase() : createArr(this.width, this.height, 1);
          var Rendi = new Renderer('canvas', this.makeMazeRD(base), this.wall, this.cell);
          Rendi.render();
          var base2 = this.usePicture ? getBase() : createArr(this.width, this.height);
          var Rendi2 = new Renderer('canvas2', this.makeMazeRB(base2), this.wall, this.cell);
          Rendi2.render();
        }
      },
      ready: function () {
        this.renderMaze()
      }
    });

    function getBase() {
      var base = [];
      {% if base %}
        base = JSON.parse('%% base | tojson %%');
        {% endif %}
        return base;
      }

  </script>

  {% endblock %}
