{% extends "base.html" %}
{% block title %}Foo{% endblock %}

{% block content %}
<style>
  input.number {
    max-width: 6em;
    padding: 2px;
  }
</style>
<div class="container">
  <div id="main">
    <hr>
    <h4>Maze settings I am going to hide it </h4>
    <form class="form-inline" v-on:submit.prevent>
      <div class="form-group">
        <label for="width">Width</label>
        <input type="number" class="form-control number" id="width" v-model="width" >
      </div>
      <div class="form-group">
        <label for="width">Height</label>
        <input type="number" class="form-control number" id="height" v-model="height" >
      </div>
      <div class="form-group">
        <label for="cell">Cell</label>
        <input type="number" class="form-control number" id="cell" v-model="cell" >
      </div>
      <div class="form-group">
        <label for="wall">Wall</label>
        <input type="number" class="form-control number" id="wall" v-model="wall" >
      </div>
      <div class="form-group">
        <button class="btn btn-default" @click="renderMaze">Generate</button>
      </div>
    </form>
    <hr>
    </div>
  <div>
    <h4>You can upload an image as base for the maze</h4>
    <form class="form-inline" method="post" action="image"
          enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" class="form-control" name="image" id="image">
      </div>
      <div class="form-group">
        <button class="btn btn-default" >Upload</button>
      </div>
    </form>
    <hr>
  </div>
  <div class="row">
    <div style="margin-top: 1em;">
      <canvas id="canvas"
              style="background-color: black;"
              width=""
              height=""></canvas>
    </div>

  </div>
</div>
<script>
  var hmin = 768;
  var WeAreInHorizontalForm = true;
  function resizeNumbers() {
    if(window.innerWidth < hmin && WeAreInHorizontalForm) {
      $('.number').removeClass('number').addClass('iAmNotANumber');
      WeAreInHorizontalForm = false;
    }
    if(window.innerWidth > hmin && !WeAreInHorizontalForm) {
      $('.iAmNotANumber').removeClass('iAmNotANumber').addClass('number');
      WeAreInHorizontalForm = true;
    }
  }
  resizeNumbers();
  $(window).on('resize', function(e) {
    resizeNumbers();
  });


  new Vue({
    el: '#main',
    data: {
      width : 200,
      height: 200,
      cell: 2,
      wall: 2,
      canvasId : 'canvas'
    },
    methods: {
      makeMaze : function(arr) {
        arr = arr || createArr(this.width, this.height);
        var MB = new MazeBuilder(arr);
        MB.RecBackTracker();
        return MB.getMaze();
      },
      renderMaze : function() {
        var used_base = getBase();
        var arr = this.makeMaze(used_base);
        var Rendi = new Renderer('canvas', arr, this.wall, this.cell);
        Rendi.render(arr);
      }
    },
    ready: function () {
      this.renderMaze()
    }
  });

  function getBase() {
    var base = [];
    {% if base %}
      base = JSON.parse('%% base | tojson %%');
      {% endif %}
      return base;
    }

</script>

{% endblock %}
