{% extends "base.html" %}
{% block title %}Foo{% endblock %}

{% block content %}
<style>
  input.number {
    max-width: 6em;
    padding: 2px;
  }
</style>
<div class="container">
  <div id="main">
    <hr>
    <h4>Maze settings I am going to hide it </h4>
      <form class="form-inline" v-on:submit.prevent>
        <div class="form-group">
          <label for="width">Width</label>
          <input type="number" class="form-control number" id="width" v-model="width" >
        </div>
        <div class="form-group">
          <label for="width">Height</label>
          <input type="number" class="form-control number" id="height" v-model="height" >
        </div>
        <div class="form-group">
          <label for="cell">Cell</label>
          <input type="number" class="form-control number" id="cell" v-model="cell" >
        </div>
        <div class="form-group">
          <label for="wall">Wall</label>
          <input type="number" class="form-control number" id="wall" v-model="wall" >
        </div>
        <div class="form-group">
          <button class="btn btn-default" @click="renderMaze">Generate</button>
        </div>
      </form>
    <hr>
      <h4>You can upload an image as base for the maze</h4>
    <form class="form-inline" method="post" action="image">
      <div class="form-group">
        <input type="file" class="form-control" id="file" v-model="file" >
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="url"  placeholder="Or url" v-model="url" >
      </div>
      <div class="form-group">
        <button class="btn btn-default" >Upload</button>
      </div>
    </form>
    <hr>
    </div>
    <div class="row">
      <div style="margin-top: 1em;">
        <canvas id="canvas"
                style="background-color: black;"
                width="{{width}}"
                height="{{height}}"></canvas>
      </div>

    </div>
  </div>

<script>

  new Vue({
    el: '#main',
    data: {
      width : 200,
      height: 200,
      cell: 2,
      wall: 2,
      canvasId : 'canvas'
    },
    methods: {
      getEdges : function() {
        $.ajax( {
          //
          url : 'image',
          //url : 'http://localhost:5002/edges.php',
          success: function(res) {
            if(typeof res == 'string') {
              res = JSON.parse(res);
            }

            console.log(typeof res);
            var MB = new MazeBuilder(res.data);
            MB.RecBackTracker();
            var arr = MB.getMaze();
            var Rendi = new Renderer('canvas', arr, wall, cell);
            Rendi.render(arr);
          }
        })
      },
      makeMaze : function(arr) {
        arr = arr || createArr(this.width, this.height);
        console.log(arr);
        var MB = new MazeBuilder(arr);
        MB.RecBackTracker();
        return MB.getMaze();
      },
      renderMaze : function() {
        var used_base = getBase();
        var arr = this.makeMaze(used_base);
        var Rendi = new Renderer('canvas', arr, this.wall, this.cell);
        Rendi.render(arr);
      }
    },
    ready: function () {
    }
  });

  function getBase() {
    var base = [];
    {% if base %}
      base = JSON.parse('%% base | tojson %%');
      {% endif %}
      return base;
    }

</script>

{% endblock %}
